.movie {
  padding: 20px 40px;
}

.movieItem {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.movieImage {
  width: 250px;
  object-fit: scale-down;
  display: block;
  padding-bottom: 10px;
}
